.bus{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;;
    background-image: url("./insideBus.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.50;
}

h1 {
    color: black;
    opacity: 1;
}